<div id="ww">
      <div class="container">
     
       
          <body>

          <div style="background-color:white;color:black;padding:20px;">
           <h4 style="color:#16a085;"> POST : <span style="color:black;">http://<username>:<auth-token>@vimmey.com/securemt/getAccountDetails</span><br>
            Host: <span style="color:black;">www.vimmey.com <br></span>
            Content-Type: <span style="color:black;">application/json<br></span>
            Accept: <span style="color:black;">application/json </h4><br>
 <!--        
 <div class="col-lg-8 col-lg-offset-2 centered">
 <div style="background-color:white;color:black;padding:20px;">
 -->
                            <p><h4 style="color:#16a085">Request Format : </h4><br>

                            
                            <h5> { <br>
                             &nbsp&nbsp&nbsp&nbsp&nbsp "userid":"2211"<br>
                            } </h5><br>

                            

                            <h4 style="color:#16a085"> Response Format : </h4><br>

                             <h5>  { <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "userid":"2211", <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "username":"25000.00" <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "date_created":"2016-09-09 21:33:10" <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "expiry_date":null <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "email_id":"vmy.chopra@gmail.com" <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "mbl_no":"9999988888" <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "account_status":"active" <br>
                            } </h5> <br></p>
</div>
                            
                             </div><!-- /col-lg-8 -->
      </div> <!-- /container -->
  </div><!-- /ww -->