<div id="ww">
      <div class="container">
     
       
          <body>

          <div style="background-color:white;color:black;padding:20px;">

           <h4 style="color:#16a085;"> POST : <span style="color:black;">http://&lt;username&gt;:&lt;auth-token&gt;@vimmey.com/securemt/transact
</span><br>
            Host: <span style="color:black;">www.vimmey.com <br></span>
            Content-Type: <span style="color:black;">application/json<br></span>
            Accept: <span style="color:black;">application/json </h4><br>
 <!--        
 <
 -->
                            <p><h4 style="color:#16a085">Request Format : </h4><br>

                            
                            <h5> { <br>
                             &nbsp&nbsp&nbsp&nbsp&nbsp "userid":"2211"<br>
                             &nbsp&nbsp&nbsp&nbsp&nbsp "FromUserId":"2211",<br>
                             &nbsp&nbsp&nbsp&nbsp&nbsp "ToUserId":"2505",<br>
                             &nbsp&nbsp&nbsp&nbsp&nbsp "Amount":"2000.00"<br>

                            } </h5><br>

                            

                            <h4 style="color:#16a085"> Response Format : </h4><br>

                             <h5>  { <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "userid":"2211", <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp "balance":"25000.00” <br>
                            } </h5> <br></p>
                   </div>
                            
                             </div><!-- /col-lg-8 -->
      </div> <!-- /container -->
  </div><!-- /ww -->
